:root{
  --color-text: rgba(121, 119, 117, 0.938);
  --color-primario: #5ed4ee;
}

.btn {
  background-color: #233142;
  color: white;
  width: 285px;
  height: 40px;
  border-radius: 5px;
  cursor: pointer;
  margin: 10px;
  cursor: url("https://img.icons8.com/color/50/000000/airplane-take-off--v2.png"),
    auto;
}

.btnAdd {
  background-color: var(--color-primario);
  color: white;
  cursor: pointer;
  border: none;
  border-radius: 5px;
}
.btnBlock {
  background-color: grey;
  color: white;
  width: 285px;
  height: 40px;
  border-radius: 5px;
  cursor: not-allowed;
  margin: 10px;
}
.countriesDiv {
  margin-top: 10px;
  display: flex;
  font-size: 10px;
  /* width: 400px;
  height: 200px; */
  flex-direction: row;
  flex-wrap: wrap;
  align-content: flex-start;
  border: 2px solid var(--color-text);
}
.countryBtn {
  width: 25%;
  height: 20%;
  white-space: normal;
  font-size: 11.5px;
  border-radius: 5px;
  background-color: var(--color-primario);
  color: white;
  cursor: pointer;
  font-weight: 700;
}
.countryBtn:hover {
  background-color: #fff;
  color: var(--color-primario);
}
.div {
  display: flex;
  height: 93.5vh;
  width: 99.8%;
  justify-content: center;
}

.form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.inputClass {
  background-color: white;
  color: black;
  font-size: 13px;
  border-radius: 5px;
  width: 270px;
  height: 25px;
}

.inputClass2 {
  height: 32px;
  width: 280px;
  border-radius: 5px;
  border: black 2px solid;
}

.inputClass3 {
  border: 1px solid var(--color-text);
  border-radius: 5px;
}

.subDiv {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  font-size: 22px;
  margin: 10px;
}

.container {
  display: flex;
  height: 100vh;
}

.container_edilt_titulo {
  position: relative;
  top: 20px;
  width: 70vw;
}

.container_edilt_titulo h2 {
  text-align: center;
}

.container_img {
  background-image: url('../../img/Rectangle\ 3.svg');
  background-repeat: no-repeat;
  background-size: cover;
  display: grid;
  align-content: space-around;
  height: 900px;
}

.container_img p {
  color: #fff;
  font-size: 25px;
  font-weight: 100;
  padding: 2em;
}

.container__edilt {
  width: 70vw;
}

.container_edilt_form {
  display: flex;
  flex-wrap: wrap;
  position: relative;
  top: -10px;
  padding: 50px;
}

.container_edilt_form_input {
  width: 30%;
  margin: 10px;
}

.container_edilt_form_input_img {
  width: 50%;
  margin: 10px;
  color: var(--color-text);
}

.buttonSubmit {
  display: inline-block;
  width: 400px;
  max-height: 45px;
  margin: auto;
  background-color: var(--color-primario);
  border: none;
  border-radius: 5px;
  color: #fff;
  padding: 10px;
}

.div_file {
  position: relative;
  padding: 8px;
  margin: 15px;
  width: 150px;
  background-color: var(--color-primario);
  border-radius: 5px;
}
.text {
  text-align: center;
  color: white;
  margin: 0px;
}

.btn_enviar {
  position: absolute;
  top: 0px;
  left: 0px;
  right: 0px;
  bottom: 0px;
  width: 100%;
  opacity: 0;
}

.container_edilt_form_pofesional {
  width: 70%;
  color: rgba(121, 119, 117, 0.938);
}
.red_container_edilt_form_pofesional {
  padding-top: 1.625rem;
    padding-bottom: 0.625rem;
    padding: 1rem 0.75rem;
    height: calc(3.5rem + 2px);
    line-height: 1.25;

}
.container_edilt_form_input label{
  opacity: .65;
  transform: scale(.85) translateY(-0.5rem) translateX(0.15rem);
}


.img_profile {
  width: 100px;
  height: 100px;
  border-radius: 100%;
}

.error{
  color:var(--color-text);
}

.textoFinal{
  color: var(--color-text);
}