:root{
    --color-text: rgba(121, 119, 117, 0.938);
    --color-primario: #5ed4ee;
  }

.conteiner{
    display: flex;
    color: var(--color-text);
    height: 300px;
    justify-content: center;
}

.img{
    width: 30%;
    margin: 35px;
}
.img img{
    height: 100%;
}

.contenido{
    width: 50%;
}

.titulo{
    justify-items: center;
}

.titulo h2{
    padding: 30px 20px;
}

.from{
    margin: auto;
}

.from label{
    margin-right: 5px;
}

.from input{
    border-radius: 5%;
}

.btnPass{
    margin: 15px 20px;
    background-color: #0d6efd;
    color: white;
    border: none;
    border-radius: 1em;
    padding: 15px;
}