.container {
    overflow-x: hidden;
    width: 100%;
}

.container_cards {
    display: flex;
    align-items: center;
}

.container_cards_first {
    display: flex;
    width: 90vw;
    overflow-x: auto;
}

.container_cards_first_all {
    display: flex;
    flex-wrap: wrap;
    width: 90vw;
}

.container_cards_second {
    margin: auto;
    color: #65dbf5;
}

.container_cards_second_all {
    display: none;
}

.container_nav {
    width: 100vw;
    height: 60px;
}

.container_nav img {
    position: absolute;
    right: 60px;
    top: 15px;
    width: 80px;
}

.container_containerButton {
    display: flex;
    justify-content: center;
}

.container_containerButton_button {
    width: 30vw;
    height: 3vw;
    margin-top: 50px;
    margin-bottom: 50px;
    border: none;
    background: #91E3F5;
    border: 1px solid #91E3F5;
    box-sizing: border-box;
    border-radius: 50px;
}

.container_containerButton_button:hover {
    background: #a7efff;
    box-shadow: 1px 1px 8px rgb(99, 99, 99);
}

.container_details_button {
    position: absolute;
    right: 80px;
    top: 200px;
    width: 120px;
    height: 50px;
    background: #91E3F5;
    border: none;
    border-radius: 5px;
    box-shadow: 1px 1px 5px rgb(197, 197, 197);
}

.container_details_button:hover {
    width: 120px;
    height: 50px;
    background: #a7efff;
    border: none;
    border-radius: 5px;
    box-shadow: 1px 1px 8px rgb(99, 99, 99);
}

.container_details {
    display: flex;
    z-index: -1;
    width: 100vw;
    height: 50vh;
    background-image: url("https://cdn.pixabay.com/photo/2018/04/28/22/03/tree-3358468_1280.jpg");

}

.container_details_photo {
    position: relative;
    top: 50px;
    width: 150px;
    height: 150px;
    /* border-radius: 150px; */
    background-color: grey;
    margin: 0px 50px;
    /* width: 140px; */
    /* height: 140px; */
    border-radius: 100%;
    position: relative;
}

.container_details_text {
    position: relative;
    top: 30px;
}
.container_details_text h2 {
    margin-bottom: 3px;
    margin-top: 0px;
}
.container_details_text h1 {
    margin-bottom: 7px;
}

.container_details_text h5 {
    margin-top: 0px;
    margin-bottom: 10px;
}

.logoEdit {
    color: grey;
}

.container_details_linkEdit {
    position: absolute;
    top: 120px;
    right: 80px;
}

.reviews {
    margin-top: 15px;
    border-radius: 30px;
    width: 90vw;
}