.div_principal{
    position: relative;
}

.div_inicio{
    background: url('../../img/joel-filipe-k8apfKm-Md4-unsplash.jpg');
    background-size: cover;
    /* background-attachment: fixed; */
    background-position: center;
    background-repeat: no-repeat;
    position: absolute;
    width: 100%;
    height: 50vh;
    object-fit: cover;
}
.div_photo {
    background: url('../../img/user_profile_photo.jpg');
    background-size: cover;
    width: 20%;
    height: 40vh;

    
    position: relative;
    top: 50px;
    /* width: 150px; */
    /* height: 150px; */
    border-radius: 100%;
    background-color: grey;
    margin: 0px 50px;
    
}

.div_info {
    position: relative;
    top: 30px;
}
.div_info h2 {
    margin-bottom: 3px;
    margin-top: 0px;
}
.div_info h1 {
    margin-bottom: 7px;
}

.div_info h5 {
    margin-top: 0px;
    margin-bottom: 10px;
}
.linkEdit {
    position: absolute;
    top: 80px;
    right: 80px;
    color: grey;
}
.reviews {
    margin-top: 15px;
    border-radius: 30px;
    width: 90vw;
}

.btn{
    border: none;
    background-color: #299c1a;
    border-radius: 8px;
    color: white;
    font-weight: 700;
    font-size: 18px;
    padding-top: 9px;
    padding-bottom: 9px;
    padding-left: 13px;
    padding-right: 13px;
    margin: 5px;
    text-decoration: none;
    transition: 0.3s;

} 
.btn:hover{
    background-color: #40739e;
} 