.container {
  display: flex;
  height: 100vh;
}

.container_registro_titulo {
  position: relative;
  top: 20px;
  width: 70vw;
}

.container_registro_titulo h2 {
  text-align: center;
}

.container_img {
  background-color: aqua;
  display: grid;
  align-content: space-around;
  width: 30vw;
}

.container_img p {
  color: #505050;
  font-size: 25px;
  font-weight: 100;
  padding: 2em;
}

.container_registro {
  width: 70vw;
}

.container_registro_form {
  display: flex;
  flex-wrap: wrap;
  position: relative;
  top: -10px;
  padding: 50px;
}

.container_registro_form h4 {
  margin-top: 40px;
}

.container_registro_form_input {
  width: 30%;
  margin: 10px;
}

.container_registro_form_check {
  display: flex;
  justify-content: space-around;
  width: 100%;
}

.container_registro_form_check input {
  margin-left: 15px;
}

.container_registro_form_button {
  position: absolute;
  display: flex;
  bottom: -10vh;
  width: 100%;
}

.buttonSubmit {
  display: inline-block;
  width: 400px;
  max-height: 45px;
  margin: auto;
}

.error {
  position: absolute;
  color: rgb(240, 23, 23);
}

.container_registro_form_oficio {
  margin-top: 20px;
  width: 100%;
  display: flex;
  justify-content: space-around;
}
.container_registro_form_oficio_span {
  display: flex;
  flex-direction: column;
  width: 10%;
  position: absolute;
}

.container_registro_form_oficio_span p {
  padding: 0px;
  margin: 0px;
  font-size: 15px;
  color: rgb(0, 230, 0);
}

.container_edilt_form_input_img {
  width: 50%;
  margin: 10px;
}

.div_file {
  position: relative;
  padding: 8px;
  margin: 15px;
  width: 150px;
  background-color: #505050;
  border-radius: 5px;
}

.text {
  text-align: center;
  color: white;
  margin: 0px;
}

.btn_enviar {
  position: absolute;
  top: 0px;
  left: 0px;
  right: 0px;
  bottom: 0px;
  width: 100%;
  opacity: 0;
}

.img_profile {
  width: 100px;
  height: 100px;
  border-radius: 100%;
}

/* .conteiner_registro_titulo img{
    height: 20%;
} */
/* .from_1{
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 4rem 2rem;
    border-radius: 1rem;
    box-shadow: 0 10px 25px rgba(92,99,105,.2);
}
.formulario{
    display: grid;
    align-content: center;
    justify-content: center;
    grid-template-columns: 1fr 1fr;
    padding: 4rem 2rem;
    border-radius: 1rem;
    box-shadow: 0 10px 25px rgba(92,99,105,.2);
}

.from_1_inLa1{
    grid-column: 1 / 3;
    grid-row: 1;
    height: 4em;
    
}

.from_1_inLa2{
    grid-column: 2 / 4;
    grid-row: 1 / 3;
    height: 4em;
}

.from_1_inLa3{
    grid-column: 1;
    grid-row: 2 / 4;
    height: 3em;
}

.from_1_inLa4{
    grid-column: 2 / 6;
    grid-row: 2 / 3;
    height: 4em;
}

.from_1_inLa5{
    grid-column: 1;
    grid-row: 5 / 6;
    height: 4em;
}

.from_1_inLa6{
    grid-column: 2 / 2;
    grid-row: 5 / 7;
    height: 3em;
}

.from_1_inLa7{
    grid-column: 1 /3;
    grid-row: 7 / 7;
    display: grid;
    height: 3em;
}

.from_1_inLa7 select{
    font-size: 1rem;
    border: 1px solid #DADCE0;
    outline: none;
    padding: .5rem;
    border-radius: 10px;
    background: none;
}


.from_1_inLa8{
    grid-column: 1;
    grid-row: 8 / 8;
    height: 3em;
}

.from_1_inLa8 input{
    margin-top: 2em;
}
.from_1_inLa9{
    grid-column: 2;
    grid-row: 8 / 8;
    height: 3em;
}
.from_1_inLa9 input{
    margin-top: 2em;
}


.from_1_inLa10{
    grid-column: 1 / 2;
    grid-row: 10 / 10;
    height: 3em;
}

.from_1_inLa8 button{
    color: #ffffff;
    background-color: black;
    margin-left: 5px;
}

.formulario input{
    font-size: 1rem;
    border: 1px solid #DADCE0;
    outline: none;
    padding: .5rem;
    border-radius: 10px;
    background: none;
}

.formulario label{
    padding: 0 .25rem;
    background-color: #fff;
    color: #80868B;
    font-size: 1rem;
    transition: .3s;
}

.from_1_btn{
    padding: .5em;
    margin-top: 2em;
    background-color: #91E3F5;
    color: #ffffff;
    border:none;
    font-size: medium;
    font-weight: 600;
    border-radius: 5px;
    grid-column: 2;
    grid-row: 16 / 16; 
}

.from_1_btn:hover{
    box-shadow: 0 10px 36px rgba(0, 0, 0, 0.507);
}

.error {
	color: #e92b2d;
	font-weight: 600;
	font-size: 12px;
}

.from_1_exito {
	text-align: center;
	font-size: 14px;
	padding-top: 20px;
	color: #02a802;
    display: grid;
    grid-column: 1  ;
    grid-row: 16 / 16; 
} */
