:root{
  --color-text: rgba(121, 119, 117, 0.938);
  --color-primario: #5ed4ee;
}

.container {
  display: flex;
  align-items: stretch;
}

.container_registro_titulo {
  position: relative;
  top: 20px;
  width: 70vw;
}

.container_registro_titulo h2 {
  text-align: center;
}

.container_img {
  background-image: url('../../img/Rectangle\ 3.svg');
  background-repeat: no-repeat;
  background-size: cover;
  display: grid;
  align-content: space-around;
  /* width: 30vw; */
  height: 1250px;
}

.container_img p {
  color: #fff;
  font-size: 25px;
  font-weight: 100;
  padding: 2em;
}

.container_registro {
  width: 70vw;
}

.container_registro_form {
  display: flex;
  flex-wrap: wrap;
  position: relative;
  top: -10px;
  padding: 50px;
  ;
}

.container_registro_titulo h2{
  color: var(--color-text);
}


.container_registro_form_input {
  width: 30%;
  margin: 10px;

}

.container_registro_form_check {
  display: flex;
  justify-content: space-around;
  width: 100%;
  color: var(--color-text);
}

.container_registro_form_check input {
  margin-left: 15px;
}

.container_registro_form_button {
  position: absolute;
  display: flex;
  bottom: -10vh;
  width: 100%;
  flex-direction: column;
  
}

.buttonSubmit {
  display: inline-block;
  width: 400px;
  max-height: 45px;
  margin: auto;
  background-color: #0d6efd;
  color: #fff;
  border-radius: 5px;
  padding: 0.5em;
  align-items: center;
}

.error {
  position: absolute;
  color: rgb(240, 23, 23);
}

.container_registro_form_oficio {
  margin-top: 20px;
  width: 100%;
  display: flex;
  justify-content: space-around;
  color: var(--color-text);
  
}

.dropdown button{
  background-color: var(--color-primario);
}

.container_registro_form_oficio_span {
  display: flex;
  flex-direction: column;
  width: 10%;
  position: absolute;
}

.container_registro_form_oficio_span p {
  padding: 0px;
  margin: 0px;
  font-size: 15px;
  color: var(--color-text);
}

.container_edilt_form_input_img {
  width: 100%;
  position: relative;
  color: var(--color-text);
  display: flex;
  flex-direction: column;
  align-items: center;
}

.div_file {
  position: relative;
  padding: 8px;
  margin: 15px;
  width: 150px;
  background-color: #505050;
  border-radius: 5px;
}

.text {
  text-align: center;
  color: white;
  margin: 0px;
}

.btn_enviar {
  position: absolute;
  top: 0px;
  left: 0px;
  right: 0px;
  bottom: 0px;
  width: 100%;
  opacity: 0;
}

.img_profile {
  width: 100px;
  height: 100px;
  border-radius: 100%;
}

.titulo_user{
  display: flex;
  flex-direction: column;
  align-items: center;
  color: var(--color-text);
}
.titulo_user h4{
  margin: 15px 3.5em;
}

.titulo_user h5{
  margin: 5px 3.5em;
}