.container{
    display: flex;
    height: 100vh; 
}

.container_img{
    background-color: aqua;
    width: 20%;
    display: grid;
    align-content: space-around;
}

.container_img p{
    color: #ffffff;
    font-size: medium;
    font-weight: 800;
    text-align: justify;
    padding: 2em;
    
}

.container_registro{
    width: 80%;
}

.conteiner_registro_titulo{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    color: #7D7D7D;
    font-size: 2em;
    justify-items: end;
    
}

.from{
    display: grid;
    align-content: center;
    justify-content: center;
    
    
    
}

    

.from_1{
    display: grid;
    padding: 4rem 2rem;
    border-radius: 1rem;
    box-shadow: 0 10px 25px rgba(92,99,105,.2);
}

.from_1_inLa1{
    grid-column: 1 / 3;
    grid-row: 1;
    height: 3em;
    
}

.from_1_inLa2{
    grid-column: 2 / 4;
    grid-row: 1 / 3;
    height: 3em;
}

.from_1_inLa3{
    grid-column: 1;
    grid-row: 2 / 4;
    height: 3em;
}

.from_1_inLa4{
    grid-column: 2 / 6;
    grid-row: 2 / 3;
    height: 3em;
}

.from_1_inLa5{
    grid-column: 1;
    grid-row: 5 / 6;
    height: 3em;
}

.from_1_inLa6{
    grid-column: 1 / 2;
    grid-row: 6 / 7;
    height: 3em;
}

.from_1_inLa_6{
    grid-column: 2 / 2;
    grid-row: 6 / 7;
    height: 3em;
}

.from_1_inLa7{
    grid-column: 1;
    grid-row: 8 / 8;
    height: 3em;
}

.from_1_inLa_7{
    grid-column: 2;
    grid-row: 8 / 8;
    height: 3em;

}

.from_1_inLa8{
    grid-column: 1;
    grid-row: 10 / 10;
    height: 3em;
}

.from_1_inLa8 button{
    color: #ffffff;
    background-color: black;
    margin-left: 5px;
}

.from_1 input{
    font-size: 1rem;
    border: 1px solid #DADCE0;
    outline: none;
    padding: .5rem;
    border-radius: 10px;
    background: none;
}

.from label{
    left: 1rem;
    top: 2rem;
    padding: 0 .25rem;
    background-color: #fff;
    color: #80868B;
    font-size: 1rem;
    transition: .3s;
}

.from_1_btn{
    padding: .5em;
    background-color: #91E3F5;
    color: #ffffff;
    border:none;
    font-size: medium;
    font-weight: 600;
    border-radius: 5px;
    grid-column: 2;
    grid-row: 12 / 12;

}

.from_1_btn:hover{
    box-shadow: 0 10px 36px rgba(0, 0, 0, 0.507);
}

