:root{
    --color-transition:#5ed4ee;
    /* --color-fondo: white; */
    --color-fondo: #f5f5f5;
    --color-letra: rgb(14, 13, 13);
}

.container {
    display: inline-block;
    min-width: 200px;
    height: 300px;
    width: 200px;
    background-color: var(--color-fondo);
    border-radius: 10px;
    padding: 5px;
    margin: 5px 15px;
    transition: all .1s;
}

.container:hover {
    /* min-width: 220px; */
    /* width: 220px;
    height: 320px; */
    box-shadow: 1px 1px 12px var(--color-transition);
}

.container p {
    padding: 15px 15px;
    padding-top: 30px;
    font-size: 13px;
    height: 250px;
}

.container h6 {
    text-align: center;
    margin: 5px;
    margin-top: 25px;
}

.container_info {
    display: flex;
    justify-content: center;
    align-items: center;
}

.container_info span {
    position: relative;
    padding-left: 10px;
    padding-right: 10px;
    margin: 0px 5px;
    font-size: 15px;
    color: #B0B0B0;
    background-color: white;
    border-radius: 5px;
}

.container_info_photo {
    position: relative;
    top: 5px;
    width: 70px;
    min-width: 70px;
    height: 70px;
    border-radius: 150px;
    /* background-color: grey; */
    margin: auto;
}