.container {
    display: inline-block;
    min-width: 250px;
    width: 250px;
    background-color: rgb(212, 212, 212);
    border-radius: 10px;
    padding: 0px;
    margin: 5px 15px;
}

.container p {
    padding: 6px 15px;
    font-size: 13px;
}

.container_info {
    display: flex;
    justify-content: space-around;
}

.container_info span {
    position: relative;
    top: 30px;
}

.container_info_photo {
    
    border-radius: 100%;
    height: 70px;
    position: relative;
    margin: 0px 0px;
    top: 10px;
    width: 70px;

}