.container {
    display: inline-block;
    height: 300px;
    width: 250px;
    background-color: rgb(212, 212, 212);
    margin: 15px;
    border-radius: 10px;
    padding: 0px;
    margin: 0px 15px;
}