.div_principal {
  width: 100%;
  height: 50vh;
  display: flex;
  align-items: center;
  background-image: url("https://images.pexels.com/photos/6205759/pexels-photo-6205759.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260");
  background-size: 80%;
  background-position: 340px -250px;
  position: relative;
  z-index: 40;
}

.div_principal__first {
  width: 500px;
  height: 352px;
  position: relative;
  float: left;
  background-color: #fff;
  clip-path: ellipse(420px 410px at 15% 50%);
  display: flex;
  flex-direction: column;
  /* align-items: center; */
}

.landing__title {
  font-size: 90px;
  font-family: "Poppins", sans-serif;
  font-weight: bold;
  color: #007ea7;
}

.landing__subtitle {
  width: 75%;
  margin-left: 85px !important;
  font-family: "Poppins", sans-serif;
  font-weight: bolder;
  color: gray;
  margin: 0px;
}

.div_principal__first__buttons {
  display: flex;
  /* width: 75%; */
  /* align-items: flex-start; */
  justify-content: center;
  margin-top: 10%;
}

.div_principal__first__buttons__button {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 140px;
  height: 35px;
  border: none;
  background: #5ed4ee;
  border-radius: 4px;
  color: white;
  padding: 8px;
  font-family: "Poppins", sans-serif;
  cursor: pointer;
  text-decoration: none;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}

.div_principal__first__buttons__button:active {
  transform: scale(0.9);
}

.div_principal__first__buttons__button:hover {
  color: white;
}

.div_principal__second {
  display: flex;
  align-items: center;
  width: 45%;
}
.div_principal__second__img {
  width: 100%;
  max-width: 450px;
  height: 100%;
  object-fit: cover;
  border-radius: 5px;
}

.slider {
  width: 100%;
  height: 50%;
  overflow: hidden;
  border-radius: 10px;
  /* background-color: rgba(31, 157, 230, 0.931); */
}

.slider ul {
  display: flex;
  animation: cambio 10s infinite alternate linear;
  width: 300%;
  height: 250px;
  align-items: center;
}
.slider li {
  width: 50%;
  list-style: none;
}
.slider img {
  width: 100%;
  height: 100%;
}

.button {
  position: relative;
  padding: 1em 1.5em;
  border: none;
  background-color: transparent;
  cursor: pointer;
  outline: none;
  font-size: 18px;
  margin: 1em 0.8em;
}

.button.type3 {
  color: #007ea7;
}

.button.type3.type3::after,
.button.type3.type3::before {
  content: "";
  display: block;
  position: absolute;
  width: 20%;
  height: 20%;
  border: 2px solid;
  transition: all 0.6s ease;
  border-radius: 2px;
}
.button.type3.type3::after {
  bottom: 0;
  right: 0;
  border-top-color: transparent;
  border-left-color: transparent;
  border-bottom-color: #007ea7;
  border-right-color: #007ea7;
}
.button.type3.type3::before {
  top: 0;
  left: 0;
  border-bottom-color: transparent;
  border-right-color: transparent;
  border-top-color: #007ea7;
  border-left-color: #007ea7;
}
.button.type3.type3:hover:after,
.button.type3.type3:hover:before {
  border-bottom-color: #007ea7;
  border-right-color: #007ea7;
  border-top-color: #007ea7;
  border-left-color: #007ea7;
  width: 100%;
  height: 100%;
}

@keyframes cambio {
  0% {
    margin-left: 0;
  }
  10% {
    margin-left: -10%;
  }
  20% {
    margin-left: -50%;
  }

  30% {
    margin-left: -105%;
  }
  40% {
    margin-left: -108%;
  }

  50% {
    margin-left: -210%;
  }
  70% {
    margin-left: -210%;
  }
}
