.div_principal {
    width: 100%;
    height: 50vh;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.div_principal__first {
    width: 40%;
}

.landing__title{
    font-size: 90px;
    font-family: 'Poppins', sans-serif;
    font-weight: bold;
    color: gray;
}

.landing__subtitle{
    width: 100%;
    font-family: 'Poppins', sans-serif;
    font-weight: bolder;
    color: rgba(128, 128, 128, 0.918);
    margin: 0px;
}

.div_principal__first__buttons {
    display: flex;
    width: 75%;
    align-items: flex-start;
    justify-content: space-between;
    margin-top: 5%;
}

.div_principal__first__buttons__button {
    width: 140px;
    height: 35px;
    border: none;
    background: #5ed4ee;
    border-radius: 4px;
    color: white;
    padding: 8px;
    font-family: 'Poppins', sans-serif;
    cursor: pointer;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}

.div_principal__first__buttons__button:active{
    transform: scale(.9);
    

}

.div_principal__second{
    display: flex;
    align-items: center;
    width: 45%;
}
.div_principal__second__img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 5px;
}