.container_map {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-top: 2em;
}

.geoButton {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.searchText {
  margin-right: 15px;
  color: rgba(121, 119, 117, 0.938);
}
