.navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    box-sizing: border-box;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
    width: 100%;
    height: 50px;
}

.container__logo{
    display: flex;
    padding-left: 30px;
    width: 6%;
    height: 40px;
}

.container__elements{
    display: flex;
    align-items: center;
    height: 40px;
    /* width: 40%; */
    min-width: 55%;
}

.container__input{
    display: flex;
    align-items: center;
    justify-content: space-around;
    background-color: rgba(128, 128, 128, 0.068);
    max-width: 60%;
    height: 30px;
    border-radius: 5px;
    color: #707070;
    padding-left: 5px;
    /* margin-right: 5%; */
} 

.container__input--text{
    border-radius: 10px;
    border: none;
    outline: none;
    background-color: transparent;
    font-family: 'Poppins', sans-serif;
    color: #707070;
    width: 80%;
} 

.container__navigate{
    display: flex;
    justify-content: space-around;
    width: 50%;
    /* margin-right: 10%; */
}

.container__inicio--btn{
    color: rgba(121, 119, 117, 0.938);
    font-size: medium;
    font-weight: bold;
    border:none;
    text-decoration: none;
}

.session{
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 170px;
}

.iconLogin{
    font-size: 45px;
    color: gray;
}