.feedback{
  margin-top: 5px;
    display: flex;
    flex-direction: column;
    text-align: center;
  }
  
  .titleFeed{
    font-size: 50px;
    font-weight: bold;
    color: gray;
  }
  
  .subtitleFeed{
    font-weight: bold;
    color: rgba(128, 128, 128, 0.918);
    width: 70%;
    align-self: center;
  }
  
  .cardsFeed{
    display: flex;
    /* width: 90%; */
    /* background-color: rgba(252, 242, 242, 0.918); */
  }
  .card{
    /* margin: 10px; */
    /* width: 30%; */
    /* height: 300px; */
    background-color: rgba(240, 240, 240, 0.918);
    border-radius: 15px;
    margin: 15px;
    /* width: 40%; */
    /* border-style: dotted; */
    /* border-radius: 10px; */
    /* display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center; */
  }
  
  .imgFeed{
    height: 120px;
    width: 120px;
    object-fit: cover;
    border-radius: 100%;
  }
  .imgFeedProf{
    height: 50px;
    width: 50px;
    object-fit: cover;
    border-radius: 100%;
  }