.showImage {
  width: 155px;
  height: 150px;
  border-radius: 100%;
  border: 2px solid green;
}

.img_titulo {
  display: flex;
  align-items: center;
  flex-direction: column;
}

img {
  margin: 5px;
}

.upload_done {
  color: #007ea7;
}

.pick_file {
  background-color: #007ea7;
}
